# Configuración del servidor
PORT=3001

# Configuración de email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-password-de-aplicacion
EMAIL_TO=tu-email@gmail.com

# Configuración de CORS
FRONTEND_URL=http://localhost:5173
